*{
  font-size: 30pt;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.marquee {
  position: relative;
  overflow: hidden;
  --offset: 5vw;
  --move-initial: calc(-10% + var(--offset));
  --move-final: calc(-40% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
  /* animation-play-state: paused; */
}

.marquee span {
  font-size: 10vw;
  padding: 0 2vw;
}

/* .marquee:hover .marquee__inner {
  animation-play-state: running;
} */

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}