*{
  font-size: 32pt;
}

.logo{
  width: 150px;
  height: 150px;
}
body{
  margin: 0;
  padding: 0;
  margin-bottom: 350px;
}

.main_text{
  padding: 5%;
}

footer{
  padding: 5% 15px 15px 15px;
  position: fixed;
  z-index: 5;
  bottom: 0;
  font-size: 24pt;
  background-color: white;

}
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 10vw;
  --move-initial: calc(-10% + var(--offset));
  --move-final: calc(-65.5% + var(--offset));
  border-bottom: 1px solid black;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
  /* animation-play-state: paused; */
}

.marquee span {
  font-size: 5vw;
  padding: 0 2vw;
}

/* .marquee:hover .marquee__inner {
  animation-play-state: running;
} */

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

li{
  margin: 50px 0;
}
